{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Каталог</title>
{% endblock %}

{% block content %}
    <hr>
   <h1>Каталог</h1>
        <div class="product_i">
            <a href="Catalog/Linksys.html">
            <img src="/static/img/Linksys.jpg"  width="120" height="100" alt="phone"></a>
            <br>
<!--            <a href="Catalog/Linksys.html"> VoIP-телефон Linksys SPA502G</a>-->
            <br>
        </div>

        <div class="product_i">
            <a href="Catalog/Redmi.html"><img src="/static/img/Redmi.jpg" width="100" height="100" alt="phone"></a>
<!--            <a href="Catalog/Redmi.html">Смартфон Redmi 7 3/32GB</a> -->
        </div>
           <br><br><br><br><br><br><br><br><hr>
{% endblock %}
